<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="autoriz.css">
  <title>Авторизация</title>
 </head>
 <body>
 <form action="handler.php">
<div class="auto"><h1>Авторзация</h1></div>
<div>
   <p>Логин: <input required type = "email"  name = "login" value =  "" class="LogPass"> <br> <br></p>
   <p>Пароль: <input required type = "password"  name = "pass" value =  "" class="LogPass"> <br> <br></p>
</div>
<div class="Button">
  <p><input type="submit" value =  "Войти">
  <input type="button" value =  "Регистрация" onclick= "window.location.href = './registr.html'"></p>
</div>
 </form>

 </body>
</html>