<!DOCTYPE html>
<html>
<head> <!-- Техническая информация о документе -->
<meta charset="UTF-8">
<meta name="description" content="Русская классическая музыка">
<meta name="keywords" content="Музыка, Классика, Русская">
<title>Русская музыкальная литература</title>
<style>
.paper {
   width: 100%;
   height: 100px;
   background-color: #FFE4E1;
   color: black;
}
</style>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav>
<ul class="menu">
  <li><a href=""class="down">Меню</a>
      <ul class="submenu">
	<a href="./autoriz.html">Войти</a>
        <a href="">Главная</a>
        <a href="">О нас</a>
        <a href="">Контакты</a>
      </ul>
   </li>
</ul>
</nav>
</body>
</html>



